sidrsa
sidrsa.pub
FH2/ZabbixVM/.vagrant/bundler/global.sol
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/action_provision
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/action_set_name
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/box_meta
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/creator_uid
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/id
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/index_uuid
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/private_key
FH2/ZabbixVM/.vagrant/machines/zagent/virtualbox/synced_folders
FH2/ZabbixVM/.vagrant/machines/zserver/virtualbox/action_provision
FH2/ZabbixVM/.vagrant/machines/zserver/virtualbox/action_set_name
FH2/ZabbixVM/.vagrant/machines/zserver/virtualbox/id
FH2/ZabbixVM/.vagrant/machines/zserver/virtualbox/index_uuid
FH2/ZabbixVM/.vagrant/machines/zserver/virtualbox/private_key
FH2/ZabbixVM/.vagrant/machines/zserver/virtualbox/synced_folders
FH4/NFS/.vagrant/bundler/global.sol
FH4/NFS/.vagrant/machines/server/virtualbox/box_meta
FH4/NFS/.vagrant/machines/server/virtualbox/vagrant_cwd
FH4/NFS/.vagrant/rgloader/loader.rb
FH4/NFS/.vagrant/machines/client/virtualbox/action_provision
FH4/NFS/.vagrant/machines/client/virtualbox/action_set_name
FH4/NFS/.vagrant/machines/client/virtualbox/box_meta
FH4/NFS/.vagrant/machines/client/virtualbox/creator_uid
FH4/NFS/.vagrant/machines/client/virtualbox/id
FH4/NFS/.vagrant/machines/client/virtualbox/index_uuid
FH4/NFS/.vagrant/machines/client/virtualbox/private_key
FH4/NFS/.vagrant/machines/client/virtualbox/synced_folders
FH4/NFS/.vagrant/machines/client/virtualbox/vagrant_cwd
FH4/NFS/.vagrant/machines/server/virtualbox/action_provision
FH4/NFS/.vagrant/machines/server/virtualbox/action_set_name
FH4/NFS/.vagrant/machines/server/virtualbox/creator_uid
FH4/NFS/.vagrant/machines/server/virtualbox/id
FH4/NFS/.vagrant/machines/server/virtualbox/index_uuid
FH4/NFS/.vagrant/machines/server/virtualbox/private_key
FH4/NFS/.vagrant/machines/server/virtualbox/synced_folders
FH4/NFS/2022-04-12-06-37-16.010-VBoxHeadless-4770.log
FH4/NFS/2022-04-12-06-37-17.067-VBoxHeadless-102580.log
FH4/NFS/2022-04-12-06-37-18.083-VBoxHeadless-9769.log
FH4/NFS/2022-04-12-06-37-20.086-VBoxHeadless-58694.log
exam/additional/accounts_new.csv
exam/additional/accounts.csv
exam/additional/output.json
exam/additional/output.txt
exam/additional/task1.sh
exam/additional/task2.sh
